body {
  background-position: center;
  background-image: url("https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80");
  background-size: cover;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

hr {
  background-color: #d5bdc2;
}

.container {
  width: 600px;
  max-width: 90%;
  margin: 5% auto;
  padding: 20px 40px;
  border: 1px solid #322e38;
  border-radius: 15px;
  background: rgba(62, 72, 39, 0.7);
  color: white;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.date{
  text-align: center;
  margin: 0px auto;
}

.today {
  margin: 0px auto;
  padding: 0px auto;
}

.degrees {
  font-size: 56px;
}

.degrees .active {
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
}
.degrees .active:hover {
  text-decoration: none;
}

.units {
  position: relative;
  font-size: 20px;
  top: -24px;
}

.units a {
  color:black;
}

#feels-like {
  font-weight: bold;
}

#main-icon {
  display:block;
  margin: 20px auto;
  width: 100px;
  background: rgb(213, 189, 194, 0.8);
  border-radius: 50%;

}

.weather-description {
  text-align: center;
  margin-bottom: auto;
}

.city-name {
  font-weight: bold;
  font-size: 35px;
  color: #d5bdc2;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.search-bar {
  text-align: left;
  margin: 0 0 20px;
}

.search-line-padding {
  padding-right: 5px;
}

.search-button-padding {
  padding-right: 5px;
  padding-left: 5px;
}

.current-location-button-padding {
  padding-left: 5px;
}
.current-location-button {
  border-radius: 50px;
  padding: 1 2 1 6px;
  border: 1px;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-forecast h3 {
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  padding-top: 7px;
  margin-bottom: 3px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
}

.weather-forecast-temp {
  text-align: center;
  font-size: 16px;
}

.footer {
  text-align: center;
  font-size: 10px;
}
.footer a {
  color: black;
  font-weight: bold;
}